body {
  background-color: rgb(153, 255, 153);
  font-family: 'Zilla Slab', serif;
}

footer {
 background-color: white;
 border-radius: 2px;
 margin-left: 2em;
 margin-right: 2em;
 padding: .5em;
}

.blog-post {
  background-color: white;
  border-radius: 2px;
  padding: .5em;
  margin: 1em;
}

.latest {
  background-color: white;
  border-radius: 2px;
  margin-right: 1em;
}

.wrapper {
 display: grid;
 grid-template-columns: 70% 30%;
 grid-gap: 2em;
}
